name: .NET 9 Build & Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restaurar dependencias
        run: dotnet restore WebAplicationLab2/WebAplicationLab2.csproj

      - name: Compilar (Build)
        run: dotnet build WebAplicationLab2/WebAplicationLab2.csproj --no-restore --configuration Release

    # Opcional: Si tuvieras un proyecto de pruebas, aquí iría el paso 'dotnet test'